      <div class="text-right">
            <div class="credits">
                Made by <a target="new" href="http://junyeongyu.com/">Junyeong Yu</a>
            </div>
      </div>
  </section>
  
  <!-- container section end -->
    <!-- javascripts -->
    <script src="/js/jquery.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <!-- nice scroll -->
    <script src="/js/jquery.scrollTo.min.js"></script>
    <script src="/js/jquery.nicescroll.js" type="text/javascript"></script><!--custome script for all page-->
    <script src="/js/scripts.js"></script>
    <!-- custom -->
    <script src="/js/custom.js"></script>


  </body>
</html>