<% include ./header-empty.ejs %>
  <body>
  
  <!-- container section start -->
  <section id="container" class="">
      <!--header start-->
      
      <header class="header dark-bg">
            <div class="toggle-nav">
                <div class="icon-reorder tooltips" data-original-title="Toggle Navigation" data-placement="bottom"><i class="icon_menu"></i></div>
            </div>

            <!--logo start-->
            <a href="/" class="logo">Classified <span class="lite">Ads</span></a>
            <!--logo end-->

            <% if (user) { %>
            <div class="top-nav notification-row">                
                <!-- notificatoin dropdown start-->
                <ul class="nav pull-right top-menu">
                    <!-- user login dropdown start-->
                    <li class="dropdown">
                        <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                            <span class="username"><%= user.username %></span>
                        </a>
                    </li>
                    <!-- user login dropdown end -->
                </ul>
                <!-- notificatoin dropdown end-->
            </div>
            <% } %>
      </header>      
      <!--header end-->

      <!--sidebar start-->
      <aside>
          <div id="sidebar"  class="nav-collapse ">
              <!-- sidebar menu start-->
              <ul class="sidebar-menu">                
                  <li class="">
                      <a class="" href="/classifiedAds">
                          <i class="icon_table"></i>
                          <span>Classified Ads</span>
                      </a>
                  </li>
                  <% if (!user) { %>
                  <li class="sub-menu">
                      <a href="/register" class="">
                          <i class="icon_document_alt"></i>
                          <span>Register</span>
                      </a>
                  </li>       
                  <li class="sub-menu">
                      <a href="/login" class="">
                          <i class="icon_desktop"></i>
                          <span>Login</span>
                      </a>
                  </li>
                  <% } else { %>
                  <li>
                      <a href="/logout">
                          <i class="icon_genius"></i>
                          <span>Logout</span>
                      </a>
                  </li>
                  <% } %>                  
              </ul>
              <!-- sidebar menu end-->
          </div>
      </aside>
      <!--sidebar end-->