<% include ./partials/header.ejs %>
      <!--main content start-->
      <section id="main-content">
          <section class="wrapper">
              <div class="row">
                <div class="col-lg-12">
                  <h3 class="page-header"><i class="fa fa fa-bars"></i> About</h3>
                  <ol class="breadcrumb">
                    <li><i class="fa fa-home"></i><a href="/">Home</a></li>
                    <li><i class="fa fa-bars"></i>About</li>
                  </ol>
                </div>
              </div>
              <!-- page start -->
              <div class="row">
                  <div class="col-lg-12">
                      <div class="profile-widget profile-widget-info">
                           <div class="panel-body">
                              <div class="col-lg-2 col-sm-2">
                                <h4>Junyeong Yu</h4>
                                <div class="follow-ava">
                                    <img src="img/profile.jpeg" alt="">
                                </div>
                                <h6>Administrator</h6>
                              </div>
                              <div class="col-lg-4 col-sm-4 follow-info">
                                  <p>Hello I’m Junyeong Yu, a leading expert in interactive and creative software developer. I have made this web site people can communicate each other to sell or buy their products.</p>
                                  <p>#Java, #C#, #Oracle, #Node, #Web, #App</p>
                                  <p><i class="fa fa-twitter"><a class="my_twitter" href="https://twitter.com/klmp83">klmp83</a></i></p>
                                  <h6>
                                      <span><i class="icon_clock_alt"></i>09:00 AM</span>
                                      <span><i class="icon_calendar"></i>2017.03.28.</span>
                                      <span><i class="icon_pin_alt"></i>Barrie, CA</span>
                                  </h6>
                              </div>
                              <div class="col-sm-6 follow-info weather-category">
                                        <ul>
                                            <li class="active">
                                                <i class="fa fa-comments fa-2x"> </i><br>
                                                I am looking for software development job. Please contact me.
                                            </li>
                                        </ul>
                              </div>
                              <div class="col-sm-6 follow-info weather-category">
                                        <ul>
                                            <li class="active">
                                                <i class="fa fa-bell fa-2x"> </i><br>
                                                If we dream together, it becomes reality. Let's dream together.
                                            </li>
                                        </ul>
                              </div>
                           </div>
                      </div>
                  </div>
              </div>
              <!-- page end-->
          </section>
      </section>
<% include ./partials/footer.ejs %>