<% include ./partials/header.ejs %>
  <body class="login-img3-body">
    <div class="container">
      <form class="login-form" method="post">        
        <div class="login-wrap">
            <p class="login-img"><i class="icon_lock_alt"></i></p>
                <% if (messages.length > 0) { %>
			        <div class="alert alert-danger"><%= messages %></div>
			    <% } %>
            <div class="input-group">
              <span class="input-group-addon"><i class="icon_profile"></i></span>
              <input name="username" type="text" class="form-control" placeholder="Username" autofocus required>
            </div>
            <div class="input-group">
                <span class="input-group-addon"><i class="icon_key_alt"></i></span>
                <input name="password" type="password" class="form-control" placeholder="Password" required>
            </div>
            
            <button class="btn btn-primary btn-lg btn-block" type="submit">Login</button>
            <a class="btn btn-block btn-social btn-facebook btn-lg" href="/facebook">
                <span class="fa fa-facebook"></span> Login with Facebook
            </a>
            <a class="btn btn-block btn-social btn-twitter btn-lg" href="/twitter">
                <span class="fa fa-twitter"></span> Login with Twitter
            </a>
            
            <a class="btn btn-info btn-lg btn-block btn-register" href="/register">Register</a>
        </div>
      </form>
<% include ./partials/footer.ejs %>