
/* common */

.hide {display: none;}

/* social buttons */
a.btn-facebook{color:#fff;background-color:#3b5998;border-color:rgba(0,0,0,0.2)}
a.btn-facebook:hover{color: #3b5998; border-color: #007aff; background: transparent;}

a.btn-twitter{color:#fff;background-color:#55acee;border-color:rgba(0,0,0,0.2)}
a.btn-twitter:hover{color: #55acee; border-color: #007aff; background: transparent;}

a.btn-register{color:#fff;}

/* register */
.btn--register-submit {width: 100%}